*{
  font-family: 'Roboto Mono', monospace;
}
.first{
  background-color:#212529 !important;
}
body::before{
  display: block;
  content:'';
  height:50px;
}
.imageB{
 font-size: 100px;
}
.card{
  border-width: 0px;
  min-height: 320px;
}
.cardShadow {
  border-radius: 14px !important;
  background: #ffffff;
  box-shadow:  10px 10px 27px #d9d9d9,-10px -10px 27px #ffffff!important;
}
.meme{
  align-items: center;
}
.bg-dark{
  background-color: #1E1E1E;
}
.bg-darker{
  background-color: #1E1E1E;
}
.embed-responsive-item{
  height: 250px;
  width: 90%;
}
#title {
  font-size:4rem;
  text-align: center;
}
.col-md1{
  border: 5px;
  border-color: bisque;
}
@media (min-width:768px) {
  .form-input{
    width: 80%;
  }
}
@media (max-width:600px) {
  body{
    background-color: ivory;
  }
}
@media (min-width:600px) {
  .first {
    background-color: darkcyan !important;
  }
}

@media(min-width:900px){
  .first{
      background-color:#212529 !important;
    }

  }
@media(min-width:900px){
  .last{
        background-color:#212529 !important;
      }
  
    }
  .last{
    background-color:rgb(20, 52, 52);
  }
  
 body .p-5{
    padding: 2rem !important;
  }
  ol, ul {
    padding-left: 0rem;
}
 

